<!-- Topbar Component -->
<div class="bg-white dark:bg-gray-800 px-6 py-4 shadow w-full">
  <div class="w=full flex items-center justify-between gap-4 flex-wrap">

    <!-- Search bar -->
    <div class="min-w-[250px] max-w-[600px] w-full sm:w-[560px] relative ">
      <input
        type="text"
        placeholder="Search anything..."
        class="pl-10 pr-4 py-2 w-full border border-gray-300 rounded-full dark:bg-gray-700 dark:text-white"
      />
      <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">🔍</span>
    </div>

    <!-- Buttons -->
    <div class="flex flex-wrap items-center gap-4 mt-2 sm:mt-0">
      <button (click)="triggerUpload()" class="bg-teal-700 text-white px-4 py-2 rounded text-sm">
        + Upload
      </button>
      <input type="file" id="fileUpload" class="hidden" (change)="onFileSelected($event)" />

      <button (click)="openNewFolderModal()" class="bg-teal-700 text-white px-4 py-2 rounded text-sm">
        + New Folder
      </button>

      <button (click)="toggleMode()" class="p-2 rounded-full bg-gray-200 dark:bg-gray-700">
        <span class="text-sm dark:text-white">🌓</span>
      </button>
    </div>

  </div>
</div>
